body {
  /*background-color: black;*/
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: grid;
  /*background-color: tomato;*/
  grid-template-columns: repeat(4, 32.5%);
  gap: 1rem;
  color: black;
}

header {
  color: black;
  padding: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
