body {
  /*background-color: black;*/
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: calibri, sans sans-serif;
}

.head {
  text-align: center;
  .current-year {
    color: #448aab;
  }
  .xo {
    color: #448aab;
  }
}

.calender {
  /*background-color: tomato;*/
  display: grid;
  grid-template-columns: repeat(4, 32.5%);
  gap: 1rem;
  place-content: center;
}

.header {
  background-color: #93cede;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  text-align: center;
  height: 21px;
  width: 21px;
}

.days {
  background-color: #b6dee6;
}

.holidays {
  background-color: #ffffc8;
  color: #2e5799;
  font-weight: bold;
}

.weekend {
  background-color: #d9d9d9;
  color: #888888;
}

.twenty-seven {
  color: #2e5799;
  font-weight: bold;
}

.school {
  background-color: #dbeef5;
}

.exam {
  background-color: #f9d4b7;
}
.sp {
  background-color: #fdbe8b;
}
.poe {
  background-color: #cbc1da;
}

.training {
  display: grid;
  grid-template-columns: repeat(2, 66.8%);
  gap: 1rem;
  justify-content: center;
  margin-top: 16px;
}
